section .container{
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

input, textarea{
    background: transparent;
    outline: none;
    border: 0;
    width: 100%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
    color: #6B6D94;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s ease;
}

input:focus, textarea:focus{
    border-bottom: 2px solid #E77298;
}

label{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

button{
    padding: 15px 10px;
    width: 100%;
    /* border-radius: 5px; */
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    /* background: #E77298; */
    border: 2px solid #E77298;
    color: #E77298;
    cursor: pointer;
}


@media only screen and (max-width: 500px){
    section .container {
        padding: .8em;
        font-size: 15px;
        width: 85vw;
    }
    textarea, input{
        margin: 15px 0;
    }
}